.home {
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.home .home-content {
  margin: auto;
  padding: 1.4rem 7%; /* changed comma to dot for padding values */
  text-align: center;
}

.home .home-content h2 {
  padding: 1.4rem 7%; /* changed comma to dot for padding values */
}

.home .home-content h2 span {
  color: #e7c590;
}